@use "ColorScheme.scss" as colors;
@use "./Themes/ButtonThemes.scss" as buttons;
@use "./Themes/BoxThemes.scss" as boxTheme;

.BBGrid {
    @include boxTheme.box-common();
}

// .rwtekvw {
//     &:hover {
//         border: 1px solid colors.$sage-green;
//     }
// }

:root {
    // --colorNeutralStrokeAccessible: green;
    // --spacingHorizontalS: 5;
    // --colorNeutralForeground1: blue;
    --strokeWidthThin: #{colors.$desert-tan};
    --borderRadiusCircular: 10px;
    --spacingVerticalS: 3px;
    --spacingHorizontalS: 3px;
    // --colorCompoundBrandStroke: #{colors.$desert-tan};
    --colorCompoundBrandForeground1: #{colors.$peach-beige};
}
