// Background: Almond Cream (#F2EDDC)
// Secondary Background/Highlight: Peach Beige (#F2CA99)
// Text/Borders/Accent: Walnut Brown (#73553C)
// Buttons/Interactive Elements: Desert Tan (#BF9169)
// Primary Buttons/Alerts/Highlights: Coral Orange (#FD815B)
$almond-cream-light: #f7f8ec;
$almond-cream: #f2f4dc; // Background
$peach-beige: #f2ca99; // Secondary Background or Highlight
$walnut-brown: #73553c; // Text, Borders, or Accent
$desert-tan: #bf9169; // Buttons or Interactive Elements
$coral-orange: #fd815b; // Primary Buttons, Alerts, or Highlights
