@use "../ColorScheme.scss" as colors;

@mixin button-common {
    border: none;
    padding: 12px;
    margin-left: 7px;
}

@mixin button-plain {
    @include button-common();
    background-color: colors.$peach-beige;
}
